<div class="remove-login remove-btn"><i  class="fa-solid fa-xmark"></i></div>
<div class="login-box">
  <div class="loginInto">
    <img src="Logo/logo.png" alt="">
    <h2>Login to Spotify</h2> 
  </div>
<hr style="color: rgba(255, 255, 255,0.6); margin-bottom: 3rem;">
  <div class="formDiv">
    <form  id="loginForm" class="needs-validation" novalidate>
        <input id="login-name" type="text" placeholder="Username" name="username" required  autocomplete="off"/>
        <div style="height: 4rem; ">
          <input id="login-pass" type="password" placeholder="Password" name="password" required autocomplete="off"/>
          <div class="invalid-feedback" style="height: 1rem;">insert correct password</div>
        </div>
         <button id="formBtn" type="submit" class="f-btn">Continue</button>
    </form>
  </div>
  <div style="margin-top: 2rem; color: rgba(255, 255, 255,0.6);">
    Don't have an account? <a href="" class="Sign-upGreen">Sign-up</a>
  </div>
</div>

